*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--fi-body-font-family);
    font-size: var(--fi-body-font-size);
    font-weight: var(--fi-body-font-weight);
    line-height: var(--fi-body-line-height);
    color: var(--fi-body-color);
    text-align: var(--fi-body-text-align);
    background-color: var(--fi-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
    margin: 0 0;
    color: #efecf3;
    border: 0;
    border-top: 1px solid;
    opacity: 1;
}

h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.2;
    color: #1f1b2d;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }
}

p {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

ul {
    padding-left: 2rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: var(--fi-link-color);
    text-decoration: underline;
}

a:hover {
    color: var(--fi-link-hover-color);
    text-decoration: none;
}

img {
    vertical-align: middle;
}

button {
    border-radius: 0;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

input,
button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    text-transform: none;
}

[role='button'] {
    cursor: pointer;
}

button,
[type='button'] {
    -webkit-appearance: button;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
    padding: 0;
}

::-webkit-inner-spin-button {
    height: auto;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

::file-selector-button {
    font: inherit;
    -webkit-appearance: button;
}

::file-selector-button {
    font: inherit;
    -webkit-appearance: button;
}

.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 700;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .display-5 {
        font-size: 3rem;
    }
}

.container {
    --fi-gutter-x: 1.5rem;
    --fi-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--fi-gutter-x) * 0.5);
    padding-left: calc(var(--fi-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 500px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.row {
    --fi-gutter-x: 1.5rem;
    --fi-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--fi-gutter-y));
    margin-right: calc(-0.5 * var(--fi-gutter-x));
    margin-left: calc(-0.5 * var(--fi-gutter-x));
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--fi-gutter-x) * 0.5);
    padding-left: calc(var(--fi-gutter-x) * 0.5);
    margin-top: var(--fi-gutter-y);
}

@media (min-width: 992px) {
    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.575rem 1.125rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #454056;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d5d2dc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.5rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}

.form-control[type='file']:not(:disabled):not([readonly]) {
    cursor: pointer;
}

.form-control:focus {
    color: #454056;
    background-color: #fff;
    border-color: #feab98;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0),
        0 0 0 0.125rem rgba(253, 86, 49, 0.25);
}

.form-control::-webkit-date-and-time-value {
    height: 1.5em;
}

.form-control::-moz-placeholder {
    color: #9691a4;
    opacity: 1;
}

.form-control:disabled {
    background-color: #f5f4f8;
    opacity: 1;
}

.form-control::-webkit-file-upload-button {
    padding: 0.575rem 1.125rem;
    margin: -0.575rem -1.125rem;
    -webkit-margin-end: 1.125rem;
    margin-inline-end: 1.125rem;
    color: #454056;
    background-color: #fff;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-control::file-selector-button {
    padding: 0.575rem 1.125rem;
    margin: -0.575rem -1.125rem;
    -webkit-margin-end: 1.125rem;
    margin-inline-end: 1.125rem;
    color: #454056;
    background-color: #fff;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.form-control::file-selector-button {
    padding: 0.575rem 1.125rem;
    margin: -0.575rem -1.125rem;
    -webkit-margin-end: 1.125rem;
    margin-inline-end: 1.125rem;
    color: #454056;
    background-color: #fff;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .form-control::-webkit-file-upload-button {
        -webkit-transition: none;
        transition: none;
    }

    .form-control::file-selector-button {
        transition: none;
    }

    .form-control::file-selector-button {
        transition: none;
    }
}

.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
    background-color: #f2f2f2;
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #f2f2f2;
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #f2f2f2;
}

.form-control-sm::file-selector-button {
    padding: 0.425rem 1rem;
    margin: -0.425rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem;
}

.form-control-sm::file-selector-button {
    padding: 0.425rem 1rem;
    margin: -0.425rem -1rem;
    -webkit-margin-end: 1rem;
    margin-inline-end: 1rem;
}

.form-control-lg::file-selector-button {
    padding: 0.825rem 1.25rem;
    margin: -0.825rem -1.25rem;
    -webkit-margin-end: 1.25rem;
    margin-inline-end: 1.25rem;
}

.form-control-lg::file-selector-button {
    padding: 0.825rem 1.25rem;
    margin: -0.825rem -1.25rem;
    -webkit-margin-end: 1.25rem;
    margin-inline-end: 1.25rem;
}

.form-control-color:not(:disabled):not([readonly]) {
    cursor: pointer;
}

.form-floating>.form-control:not(:-moz-placeholder-shown),
.form-floating>.form-control-plaintext:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group>.form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.input-group>.form-control:focus {
    z-index: 5;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.575rem 1.125rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666276;
    text-align: center;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #d5d2dc;
    border-radius: 0.5rem;
}

.input-group-lg>.form-control,
.input-group-lg>.input-group-text {
    padding: 0.825rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.input-group:not(.has-validation)> :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.was-validated .input-group>.form-control:not(:focus):valid,
.was-validated .input-group>.form-select:not(:focus):valid,
.was-validated .input-group>.form-floating:not(:focus-within):valid {
    z-index: 3;
}

.was-validated .input-group>.form-control:not(:focus):invalid,
.was-validated .input-group>.form-select:not(:focus):invalid,
.was-validated .input-group>.form-floating:not(:focus-within):invalid {
    z-index: 4;
}

.btn {
    --fi-btn-padding-x: 1.5rem;
    --fi-btn-padding-y: 0.575rem;
    --fi-btn-font-family: ;
    --fi-btn-font-size: 1rem;
    --fi-btn-font-weight: bold;
    --fi-btn-line-height: 1.5;
    --fi-btn-color: #666276;
    --fi-btn-bg: transparent;
    --fi-btn-border-width: 1px;
    --fi-btn-border-color: transparent;
    --fi-btn-border-radius: 0.5rem;
    --fi-btn-hover-border-color: transparent;
    --fi-btn-box-shadow: unset;
    --fi-btn-disabled-opacity: 0.65;
    --fi-btn-focus-box-shadow: 0 0 0 0 rgba(var(--fi-btn-focus-shadow-rgb), 0.5);
    display: inline-block;
    padding: var(--fi-btn-padding-y) var(--fi-btn-padding-x);
    font-family: var(--fi-btn-font-family);
    font-size: var(--fi-btn-font-size);
    font-weight: var(--fi-btn-font-weight);
    line-height: var(--fi-btn-line-height);
    color: var(--fi-btn-color);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--fi-btn-border-width) solid var(--fi-btn-border-color);
    border-radius: var(--fi-btn-border-radius);
    background-color: var(--fi-btn-bg);
    box-shadow: var(--fi-btn-box-shadow);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: var(--fi-btn-hover-color);
    background-color: var(--fi-btn-hover-bg);
    border-color: var(--fi-btn-hover-border-color);
}

.btn:focus-visible {
    color: var(--fi-btn-hover-color);
    background-color: var(--fi-btn-hover-bg);
    border-color: var(--fi-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--fi-btn-box-shadow), var(--fi-btn-focus-box-shadow);
}

.btn-check:focus-visible+.btn {
    border-color: var(--fi-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--fi-btn-box-shadow), var(--fi-btn-focus-box-shadow);
}

:not(.btn-check)+.btn:active,
.btn:first-child:active {
    color: var(--fi-btn-active-color);
    background-color: var(--fi-btn-active-bg);
    border-color: var(--fi-btn-active-border-color);
    box-shadow: var(--fi-btn-active-shadow);
}

.btn-check:checked+.btn:focus-visible,
:not(.btn-check)+.btn:active:focus-visible,
.btn:first-child:active:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible {
    box-shadow: var(--fi-btn-active-shadow), var(--fi-btn-focus-box-shadow);
}

.btn:disabled {
    color: var(--fi-btn-disabled-color);
    pointer-events: none;
    background-color: var(--fi-btn-disabled-bg);
    border-color: var(--fi-btn-disabled-border-color);
    opacity: var(--fi-btn-disabled-opacity);
    box-shadow: none;
}

.btn-primary {
    --fi-btn-color: #000;
    --fi-btn-bg: color: linear-gradient(-90deg, #31b978 0%, #1ab69d);
    --fi-btn-border-background: -webkit-linear-gradient(right, #31b978 0%, #1ab69d 100%) !important;
    background: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%) !important;
    ;
    --fi-btn-hover-color: #000;
    --fi-btn-hover-bg: #fd6f50;
    --fi-btn-hover-border-color: #fd6746;
    --fi-btn-focus-shadow-rgb: 215, 73, 42;
    --fi-btn-active-color: #000;
    --fi-btn-active-bg: #fd785a;
    --fi-btn-active-border-color: #fd6746;
    --fi-btn-active-shadow: unset;
    --fi-btn-disabled-color: #000;
    --fi-btn-disabled-bg: color: linear-gradient(-90deg, #31b978 0%, #1ab69d);
    --fi-btn-disabled-border-background: -webkit-linear-gradient(right, #31b978 0%, #1ab69d 100%) !important;
    background: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%) !important;
    ;
}

.btn-link {
    --fi-btn-font-weight: 400;
    --fi-btn-color: #666276;
    --fi-btn-bg: transparent;
    --fi-btn-border-color: transparent;
    --fi-btn-hover-background: -webkit-linear-gradient(right, #31b978 0%, #1ab69d 100%) !important;
    background: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%) !important;
    ;
    --fi-btn-hover-border-color: transparent;
    --fi-btn-active-background: -webkit-linear-gradient(right, #31b978 0%, #1ab69d 100%) !important;
    background: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%) !important;
    ;
    --fi-btn-active-border-color: transparent;
    --fi-btn-disabled-color: #9691a4;
    --fi-btn-disabled-border-color: transparent;
    --fi-btn-box-shadow: none;
    --fi-btn-focus-shadow-rgb: 215, 73, 42;
    text-decoration: underline;
}

.btn-link:hover,
.btn-link:focus-visible {
    text-decoration: none;
}

.btn-link:focus-visible {
    color: var(--fi-btn-color);
}

.btn-link:hover {
    color: var(--fi-btn-hover-color);
}

.btn-lg {
    --fi-btn-padding-y: 0.825rem;
    --fi-btn-padding-x: 1.75rem;
    --fi-btn-font-size: 1rem;
    --fi-btn-border-radius: 0.5rem;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-menu {
    --fi-dropdown-zindex: 1000;
    --fi-dropdown-min-width: 10rem;
    --fi-dropdown-padding-x: 0;
    --fi-dropdown-padding-y: 0.5rem;
    --fi-dropdown-spacer: 0;
    --fi-dropdown-font-size: 0.875rem;
    --fi-dropdown-color: #666276;
    --fi-dropdown-bg: #fff;
    --fi-dropdown-border-color: #efecf3;
    --fi-dropdown-border-radius: 0.75rem;
    --fi-dropdown-border-width: 1px;
    --fi-dropdown-inner-border-radius: calc(0.75rem - 1px);
    --fi-dropdown-divider-bg: #efecf3;
    --fi-dropdown-divider-margin-y: 0.375rem;
    --fi-dropdown-box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31, 27, 45, 0.08),
        0 0.25rem 0.75rem rgba(31, 27, 45, 0.08);
    --fi-dropdown-link-color: #454056;
    --fi-dropdown-link-hover-background: -webkit-linear-gradient(right, #31b978 0%, #1ab69d 100%) !important;
    background: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%) !important;
    ;
    --fi-dropdown-link-hover-bg: transparent;
    --fi-dropdown-link-active-background: -webkit-linear-gradient(right, #31b978 0%, #1ab69d 100%) !important;
    background: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%) !important;
    ;
    --fi-dropdown-link-active-bg: transparent;
    --fi-dropdown-link-disabled-color: #9691a4;
    --fi-dropdown-item-padding-x: 1rem;
    --fi-dropdown-item-padding-y: 0.375rem;
    --fi-dropdown-header-color: #1f1b2d;
    --fi-dropdown-header-padding-x: 1rem;
    --fi-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--fi-dropdown-zindex);
    display: none;
    min-width: var(--fi-dropdown-min-width);
    padding: var(--fi-dropdown-padding-y) var(--fi-dropdown-padding-x);
    margin: 0;
    font-size: var(--fi-dropdown-font-size);
    color: var(--fi-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--fi-dropdown-bg);
    background-clip: padding-box;
    border: var(--fi-dropdown-border-width) solid var(--fi-dropdown-border-color);
    border-radius: var(--fi-dropdown-border-radius);
    box-shadow: var(--fi-dropdown-box-shadow);
}

.dropdown-menu-end {
    --bs-position: end;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--fi-dropdown-item-padding-y) var(--fi-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--fi-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--fi-dropdown-link-hover-color);
    background-color: var(--fi-dropdown-link-hover-bg);
}

.dropdown-item:active {
    color: var(--fi-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--fi-dropdown-link-active-bg);
}

.dropdown-item:disabled {
    color: var(--fi-dropdown-link-disabled-color);
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
}

.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.opacity-60 {
    opacity: 0.6 !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.position-relative {
    position: relative !important;
}

.w-100 {
    width: 100% !important;
}

.align-items-center {
    align-items: center !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.pb-2 {
    padding-bottom: 0.5rem !important;
}

.ps-2 {
    padding-left: 0.5rem !important;
}

.ps-3 {
    padding-left: 1rem !important;
}

.fs-lg {
    font-size: 1.125rem !important;
}

.fs-base {
    font-size: 1rem !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.text-center {
    text-align: center !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.text-muted {
    color: #9691a4 !important;
}

.rounded-pill {
    border-radius: 50rem !important;
}

@media (min-width: 500px) {
    .d-sm-flex {
        display: flex !important;
    }

    .mb-sm-0 {
        margin-bottom: 0 !important;
    }

    .ms-sm-3 {
        margin-left: 1rem !important;
    }

    .ps-sm-3 {
        padding-left: 1rem !important;
    }
}

@media (min-width: 768px) {
    .d-md-flex {
        display: flex !important;
    }

    .d-md-none {
        display: none !important;
    }

    .border-end-md {
        border-right: 1px solid #efecf3 !important;
    }

    .w-md-auto {
        width: auto !important;
    }

    .mt-md-2 {
        margin-top: 0.5rem !important;
    }

    .rounded-md-pill {
        border-radius: 50rem !important;
    }
}

@media (min-width: 992px) {
    .order-lg-1 {
        order: 1 !important;
    }

    .order-lg-2 {
        order: 2 !important;
    }

    .mb-lg-0 {
        margin-bottom: 0 !important;
    }

    .mb-lg-3 {
        margin-bottom: 1rem !important;
    }

    .mb-lg-5 {
        margin-bottom: 3rem !important;
    }

    .me-lg-n5 {
        margin-right: -3rem !important;
    }

    .pe-lg-0 {
        padding-right: 0 !important;
    }

    .pb-lg-0 {
        padding-bottom: 0 !important;
    }

    .text-lg-start {
        text-align: left !important;
    }
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.page-wrapper {
    flex: 1 0 auto;
}

a {
    transition: color 0.2s ease-in-out;
}

a:focus {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

::-moz-selection {
    background: rgba(93, 60, 242, 0.15);
}

::selection {
    background: rgba(93, 60, 242, 0.15);
}

::-moz-selection {
    background: rgba(93, 60, 242, 0.15);
}

button:focus {
    outline: none;
}

@font-face {
    font-family: 'finder-icons';
    /* src: url('../fonts/finder-iconsa5d4.ttf?7648j3') format('truetype'),
        url('../fonts/finder-iconsa5d4.woff?7648j3') format('woff'),
        url('../fonts/finder-iconsa5d4.svg?7648j3#finder-icons') format('svg'); */
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='fi-'] {
    display: inline-block;
    font-family: 'finder-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    vertical-align: middle;
    line-height: 1;
}

.fi-car:before {
    content: '';
}

.fi-list:before {
    content: '';
}

.fi-search:before {
    content: '';
}

.fi-bed:before {
    content: '';
}

.fi-cafe:before {
    content: '';
}

.fi-entertainment:before {
    content: '';
}

.fi-makeup:before {
    content: '';
}

.fi-meds:before {
    content: '';
}

.fi-museum:before {
    content: '';
}

.fi-shopping-bag:before {
    content: '';
}

h1 {
    line-height: 1.2;
}

ul li {
    margin-bottom: 0.25rem;
}

.form-control:disabled {
    cursor: not-allowed;
}

.was-validated :valid:not(:required):not(.btn),
.is-valid:not(:required):not(.btn) {
    border-color: #d5d2dc !important;
    background-image: none;
}

.was-validated :valid:not(:required):not(.btn):focus,
.is-valid:not(:required):not(.btn):focus {
    border-color: #feab98 !important;
    box-shadow: 0 0 0 0.125rem rgba(253, 86, 49, 0.25);
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn:not([class^='btn-outline-']):not([class*=' btn-outline-']):not(.btn-secondary):not(.btn-light):not(.btn-link) {
    --fi-btn-color: #fff;
}

.btn-primary {
    --fi-btn-color: #fff;
    --fi-btn-hover-color: #fff;
    --fi-btn-active-color: #fff;
    --fi-btn-hover-bg: #fd390e;
    --fi-btn-active-bg: #fd390e;
    --fi-btn-hover-border-color: #fd390e;
    --fi-btn-active-border-color: #fd390e;
    --fi-btn-disabled-color: #fff;
}

.btn-primary:hover {
    box-shadow: 0 0.25rem 0.25rem 0.125rem rgba(253, 86, 49, 0.1),
        0 0.375rem 0.75rem -0.125rem rgba(253, 86, 49, 0.4);
}

.btn-link {
    background: -webkit-linear-gradient(right, #31b978 0%, #1ab69d 100%) !important;
    background: linear-gradient(-90deg, #31b978 0%, #1ab69d 100%) !important;
    border: 0;
    font-weight: bold;
    text-decoration: none;
}

.btn>[class^='fi-'] {
    margin-top: -0.1875rem;
    vertical-align: middle;
}

.form-group {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid #efecf3;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.125rem -0.125rem rgba(31, 27, 45, 0.08),
        0 0.25rem 0.75rem rgba(31, 27, 45, 0.08);
}

.form-group>div:first-child:not(.row) {
    margin-left: -0.5rem;
}

.form-group .form-control {
    border: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

.form-group .form-control:focus {
    box-shadow: none;
}

.form-group .input-group .input-group-text {
    margin-top: 0.125rem;
    padding-right: 0;
    border: 0;
    background: rgba(0, 0, 0, 0);
}

.form-group .input-group .input-group-text+.form-control {
    padding-left: 0.750375rem;
}

.form-group .dropdown-toggle {
    font-weight: normal;
}

.form-group .dropdown-toggle.btn-link {
    padding-right: 1.092rem;
    padding-left: 1.092rem;
    color: #9691a4;
}

.form-group .dropdown-toggle.btn-link:hover {
    color: #454056;
}

.form-group .dropdown-menu:not(.my-3) {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}

.form-group.rounded-md-pill {
    padding-left: 0.75rem;
}

.dropdown-toggle::after,
.dropdown-toggle::before {
    display: inline-block;
    font-family: 'finder-icons';
    font-size: 0.65em;
    font-weight: normal;
    vertical-align: middle;
}

.dropdown-toggle::after {
    margin-left: 0.5rem;
    content: '';
}

.dropdown-toggle::before {
    margin-right: 0.25rem;
}

.dropdown-toggle:not(.dropdown-toggle-split)::before {
    margin-left: -0.25rem;
}

.dropdown-toggle:not(.dropdown-toggle-split)::after {
    margin-right: -0.25rem;
}

.dropdown .dropdown-toggle::before {
    display: none;
}

h1 .dropdown-toggle::after {
    font-size: 1rem;
    opacity: 1 !important;
}

@supports (-ms-ime-align: auto) {}

@-moz-document url-prefix() {}