#hero {
    width: 100%;
    height: 50vh;
    /* background: url("../Assets/m1.jpg") top center; */
    background-size: cover;
}

.hero__heading span {
    background: rgb(255, 255, 255);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    /* padding-top: 80px; */
    position: relative;

    text-align: center;
    padding-bottom: 20px;
}

.hero__description {
    font-size: 50px;
    background: #000;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#hero h1 {
    font-size: 80px;
    margin-bottom: 24px;
    color: #219ebc;
}

#hero h2 {
    color: #000000;
    margin: 10px 0 0 0;
    font-size: 22px;
}

#hero .icon-boxes {
    margin-top: 75px;
}

#hero .icon-box {
    padding: 30px 30px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
    z-index: 1;
}

#hero .icon-box .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#hero .icon-box .title a {

    transition: 0.3s;
}

#hero .icon-box .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

#hero .icon-box .icon {
    margin-bottom: 20px;
    padding-top: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    font-size: 36px;
    line-height: 1;
    color: #2487ce;
}

#hero .icon-box:hover {
    transform: scale(1.08);
}

#hero .icon-box:hover .title a {
    color: #2487ce;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: cover;
    }
}

@media (max-height: 800px) {
    #hero {
        height: auto;
    }
}

@media (max-width: 992px) {
    #hero {
        height: auto;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .hero__description {
        font-size: 30px;
    }

    .hero__heading span {
        font-size: 55px;
        line-height: 1.4;
    }
}