.root2 {
	margin-top: 10px;
}

#team {
	padding: 80px 0 145px 0;
	background-color: #fbfbfd;
	border-radius: 10px;
}

#team .member {
	text-align: center;
	margin-bottom: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	border-radius: 10px;
}

#team .member .pic {
	margin-bottom: 0px;
	height: 300px;
}

#team .member .pic img {
	max-width: 100%;

	border-radius: 10px;
	padding-bottom: 70px;
}

#team .member h4 {
	font-weight: 700;
	margin-bottom: 2px;
	font-size: 18px;
}

#team .member span {
	font-style: italic;
	display: block;
	font-size: 13px;
	padding: 10px;
}
