 .contact-inner .title {
     font-size: 20px;
     font-weight: 600;
     line-height: normal;
     -webkit-transform: initial;
     transform: initial;
     margin-bottom: 35px;
 }

 .contact-inner .contact-address-wrap {
     background-color: #FAECFF;
     border-radius: 30px;
     padding: 50px 100px 50px 50px;
 }

 .contact-inner .contact-address-wrap .contact-list .contact-item {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: start;
     -ms-flex-align: start;
     align-items: flex-start;
     margin-bottom: 40px;
 }

 .contact-inner .contact-address-wrap .contact-list .contact-item:last-child {
     margin-bottom: 0;
 }

 .contact-inner .contact-address-wrap .contact-list .contact-item .icon-wrap {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     line-height: 40px;
     background: rgba(119, 74, 241, 0.1058823529);
     color: #764AF1;
     text-align: center;
     font-size: 16px;
     margin-right: 20px;
 }

 .contact-inner .contact-address-wrap .contact-list .contact-item .icon-wrap.color-02 {
     background-color: #FBE4DC;
     color: #FFC44E;
 }

 .contact-inner .contact-address-wrap .contact-list .contact-item .icon-wrap.color-03 {
     background-color: #F9C4D3;
     color: #F32424;
 }

 .contact-inner .contact-address-wrap .contact-list .contact-item .text {
     -webkit-box-flex: 1;
     -ms-flex: 1;
     flex: 1;
 }

 .contact-inner .contact-address-wrap .contact-list .contact-item .text .details {
     display: block;
     font-family: var(--paragraph-color);
     color: var(--heading-color);
     font-size: 16px;
     line-height: 27px;
     font-weight: 500;
 }

 .contact-inner .contact-address-wrap .social-media-list {
     margin-top: 80px;
 }

 .contact-inner .contact-form .form .form-element input {
     height: 74px;
     border-radius: 20px;
     border: 1px solid #E4E4E4;
     padding: 15px 20px 15px 60px;
 }

 .contact-inner .contact-form .form .form-element textarea {
     height: 140px;
     border-radius: 20px;
 }

 .contact-inner .contact-form .form .form-element>.row>div {
     position: relative;
 }

 .contact-inner .contact-form .form .form-element>.row>div .icon,
 .contact-inner .contact-form .form .form-element>.row>div i {
     position: absolute;
     left: 48px;
     top: 29px;
     color: #CDCDCD;
 }

 .contact-address {
     background-color: #FAECFF;
     padding: 50px;
     border-radius: 15px;
 }

 .contact-address .contact-address-list {
     margin-bottom: 42px;
 }

 .contact-address .contact-address-list .single-address-item {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     margin-bottom: 40px;
 }

 .contact-address .contact-address-list .single-address-item:last-child {
     margin-bottom: 0;
 }

 .contact-address .contact-address-list .single-address-item .icon-wrap {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     line-height: 40px;
     text-align: center;
     margin-right: 20px;
 }

 .contact-address .contact-address-list .single-address-item .icon-wrap .icon {
     font-size: 16px;
 }

 .contact-address .contact-address-list .single-address-item .icon-wrap.color-01 {
     background-color: #F5E6FE;
 }

 .contact-address .contact-address-list .single-address-item .icon-wrap.color-01 .icon {
     color: #764AF1;
 }

 .contact-address .contact-address-list .single-address-item .icon-wrap.color-02 {
     background-color: #fbe4dc;
 }

 .contact-address .contact-address-list .single-address-item .icon-wrap.color-02 .icon {
     color: #FFC44E;
 }

 .contact-address .contact-address-list .single-address-item .icon-wrap.color-03 {
     background-color: #f9c4d3;
 }

 .contact-address .contact-address-list .single-address-item .icon-wrap.color-03 .icon {
     color: #F32424;
 }

 .contact-address .contact-address-list .single-address-item .text {
     font-family: var(--body-font);
     font-size: 16px;
     line-height: 28px;
     font-weight: 500;
     color: var(--heading-color);
     -webkit-box-flex: 1;
     -ms-flex: 1;
     flex: 1;
     word-break: break-all;
 }